.notif{
  border-bottom: 1px solid #EEEEEE;
}
.notif-date{
  padding: 15px 5px;
  color: #949292;
  text-align: center;
}
.notif-label{
  padding: 15px 5px;
}
.notif-divider{
  color: #252424;
  background-color: #EEEEEE;
  font-weight: bold;
  padding: 10px;
}
