<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="6" size-xl="6" class="ion-no-padding">
      <ion-item-divider color="medium">
        <ion-label>Informasi Publik</ion-label>
      </ion-item-divider>
      <ion-list class="ion-padding">
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Nama</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Bio</ion-label>
          <ion-textarea type="text" [(ngModel)]="bio"></ion-textarea>
        </ion-item>
      </ion-list>

      <ion-item-divider color="medium">
        <ion-label>Informasi Pribadi</ion-label>
      </ion-item-divider>
      <ion-list class="ion-padding">
        <ion-list class="ion-no-padding">
          <ion-radio-group [(ngModel)]="sex" class="ion-no-padding">
            <ion-list-header class="ion-no-padding">
              <ion-label>Jenis Kelamin</ion-label>
            </ion-list-header>

            <ion-item class="ion-no-padding">
              <ion-label>Laki-Laki</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>

            <ion-item class="ion-no-padding">
              <ion-label>Perempuan</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">No. HP</ion-label>
          <ion-input type="tel" [(ngModel)]="no_hp"></ion-input>
        </ion-item>
        <ion-item *ngIf="!status" class="ion-no-padding">
          <ion-label color="dark" position="stacked">Tanggal Lahir</ion-label>
          <ion-datetime display-format="DD MMMM YYYY" [(ngModel)]="birthday"></ion-datetime>
        </ion-item>
        <ion-item *ngIf="!status" class="ion-no-padding">
          <ion-label position="stacked">NIK</ion-label>
          <ion-input type="number" [(ngModel)]="nik"></ion-input>
        </ion-item>
        <ion-row *ngIf="!status">
          <ion-col class="ion-margin ion-text-center" (click)="takePhoto('user_photo')">
            <!-- <ion-img src="assets/icon/ico-userphoto.png" *ngIf="!verified_photo"></ion-img> -->
            <ion-img [src]="verified_foto" *ngIf="verified_foto"></ion-img>
            <ion-chip [hidden]="verified_foto"><ion-icon name="contact"></ion-icon> <ion-label>Upload Foto</ion-label></ion-chip>
            <ion-label [hidden]="!verified_foto">Foto Pengguna</ion-label>
          </ion-col>
          <ion-col class="ion-margin ion-text-center" (click)="takePhoto('id_photo')">
            <!-- <ion-img src="assets/icon/ico-idcard.png" *ngIf="!ktp"></ion-img> -->
            <ion-img [src]="ktp" *ngIf="ktp"></ion-img>
            <ion-chip [hidden]="ktp"><ion-icon name="card"></ion-icon> <ion-label>Upload Foto Ktp</ion-label></ion-chip>
            <ion-label [hidden]="!ktp">Foto KTP</ion-label>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer class="ion-no-padding">
  <ion-button expand="full" size="large" color="danger" (click)="updateProfile()">Simpan</ion-button>
</ion-footer>
