<ion-header>
  <ion-toolbar>
    <ion-title>Riwayat Pengaduan Saya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="6" size-xl="6">
      <ion-segment color="danger" (ionChange)="segmentChanged($event)">
        <ion-segment-button [checked]="segment.value==1" value="1">
          <ion-label><ion-icon name="timer"></ion-icon> Proses</ion-label>
        </ion-segment-button>
        <ion-segment-button [checked]="segment.value==2" value="2">
          <ion-label><ion-icon name="checkmark-circle-outline"></ion-icon> Selesai</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
    <ion-col *ngIf="lists.length == 0" class="no-padding-top" size="12" size-md="6" size-xl="6">
      <div class="no-data">
        <ion-icon name="notifications-outline"></ion-icon>
        Pengaduan belum tersedia
      </div>
    </ion-col>
    <ion-col *ngIf="lists.length > 0" size="12" size-md="6" size-xl="6">
      <ion-list *ngFor="let list of lists">
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col no-padding>
                <ion-card-subtitle>
                  <h3>#{{list.no_tiket}}</h3>
                  <ion-label>{{ converTime(list.tanggal) }}</ion-label>
                </ion-card-subtitle>
              </ion-col>
              <ion-col no-padding>
                <ion-card-subtitle class="ion-text-right">
                  <ion-chip [style.background]="list['color']">{{ list['status_pengaduan'] }}</ion-chip>
                </ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content (click)="seeDetail(list.id)">
            <ion-card-title class="category">
              {{ list['kategori_name'] }}{{ list['subkategori_name']?' - '+list['subkategori_name']:'' }}
            </ion-card-title>
            <ion-card-title>
              {{ list['topik'] }}
            </ion-card-title>

            <div class="uraian">
              <ion-row>
                <ion-col no-padding class="ion-text-wrap">
                  <p>{{ list['uraian'] | slice:0:180 }} ...</p>
                </ion-col>
                <ion-col *ngIf="list['file']" size="4">
                  <img [src]="list['file']['fullpath']" />
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
          <div class="button-group">
            <ion-row>
              <ion-col class="ion-text-center ion-activatable">
                <ion-ripple-effect></ion-ripple-effect>
                <span>
                  <ion-icon name="swap"></ion-icon>
                  {{ list['tanggapans']['length'] }} Tindak Lanjut
                </span>
              </ion-col>
              <ion-col class="ion-text-center ion-activatable">
                <ion-ripple-effect></ion-ripple-effect>
                <span>
                  <ion-icon name="chatbubbles"></ion-icon>
                  {{ list['comments']['length'] }} Komentar
                </span>
              </ion-col>
              <ion-col class="ion-text-center ion-activatable">
                <ion-ripple-effect></ion-ripple-effect>
                <span>
                  <ion-icon name="thumbs-up"></ion-icon>
                  {{ list['likes']['length'] }} Dukungan
                </span>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ion-list>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="nextPage($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <div *ngIf="!lists">
          <ion-list *ngFor="let i of [1,2,3]">
            <ion-card>
              <ion-card-header>
                <ion-row>
                  <ion-col no-padding>
                    <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col no-padding>
                    <ion-card-subtitle class="ion-text-right">
                      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                    </ion-card-subtitle>
                  </ion-col>
                </ion-row>
              </ion-card-header>
              <ion-card-content>
                  <ion-item>
                    <ion-avatar slot="start">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                      <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                      </h3>
                      <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                      </p>
                      <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                      </p>
                    </ion-label>
                  </ion-item>

                <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>

                <div class="uraian">
                  <ion-row>
                    <ion-col no-padding class="ion-text-wrap">
                      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card-content>
              <div class="button-group">
                <ion-row>
                  <ion-col class="ion-text-center ion-activatable">
                    <ion-ripple-effect></ion-ripple-effect>
                    <span>
                      <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                    </span>
                  </ion-col>
                  <ion-col class="ion-text-center ion-activatable">
                    <ion-ripple-effect></ion-ripple-effect>
                    <span>
                      <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                    </span>
                  </ion-col>
                  <ion-col class="ion-text-center ion-activatable">
                    <ion-ripple-effect></ion-ripple-effect>
                    <span>
                      <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                    </span>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </ion-list>
        </div>

    </ion-col>
  </ion-row>

</ion-content>
