<ion-header>
  <ion-toolbar>
    <ion-title>Riwayat Pengaduan Saya</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-segment color="danger" (ionChange)="segmentChanged($event)">
      <ion-segment-button [checked]="segment.value==1" value="1">
        <ion-label class="ion-no-margin">
          <ion-icon name="timer"></ion-icon> Proses
        </ion-label>
      </ion-segment-button>
      <ion-segment-button [checked]="segment.value==2" value="2">
        <ion-label class="ion-no-margin">
          <ion-icon name="checkmark-circle-outline"></ion-icon> Selesai
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <ion-refresher pull-max="60" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <ion-row class="ion-justify-content-center">
    <ion-col *ngIf="lists.length == 0" class="ion-no-padding-top" size="12" size-md="6" size-xl="6">
      <div class="no-data">
        <ion-icon name="notifications-outline"></ion-icon>
        Pengaduan belum tersedia
      </div>
    </ion-col>
    <ion-col class="ion-no-padding" *ngIf="lists.length > 0" size="12" size-md="6" size-xl="6">
      <ion-list *ngFor="let list of lists" class="ion-no-padding">
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col size="12" class="ion-no-padding">
                <ion-card-title class="category">
                  {{ list['kategori_name'] }}{{ list['subkategori_name']?' - '+list['subkategori_name']:'' }}
                </ion-card-title>
              </ion-col>
              <ion-col class="ion-no-padding">
                <ion-card-subtitle>
                  <h3>#{{list.no_tiket}}</h3>
                  <ion-label>{{ converTime(list.tanggal) }}</ion-label>
                </ion-card-subtitle>
              </ion-col>
              <ion-col class="ion-no-padding">
                <ion-card-subtitle class="ion-text-right">
                  <ion-chip [style.background]="list['color']">{{ list['status_pengaduan'] }}</ion-chip>
                </ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content (click)="seeDetail(list)">
            <ion-card-title class="topik">
              {{ list['topik'] }}
            </ion-card-title>

            <ion-item class="ion-text-wrap" color="tertiary" *ngIf="sharedService.getUserCache().status != 1">
                <ion-icon name="warning" slot="start" color="warning"></ion-icon> <ion-text> Akun belum terverifikasi, pengaduan tidak dapat di proses</ion-text>
            </ion-item>

            <div class="uraian mt10">
              <ion-row>
                <ion-col class="ion-no-padding" *ngIf="list['file']" size="12">
                  <img [src]="list['file']['fullpath']" />
                </ion-col>
                <ion-col class="ion-no-padding ion-text-wrap" size="12">
                  <p>{{ list['uraian'] | slice:0:180 }} ...</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
          <div class="button-group">
            <ion-row>
              <ion-col class="ion-text-center ion-activatable" (click)="seeDetail(list)">
                <ion-ripple-effect></ion-ripple-effect>
                <span>
                  <ion-icon name="ios-swap"></ion-icon>
                  {{ list.tanggapans_count }} Tindakan
                </span>
              </ion-col>
              <ion-col class="ion-text-center ion-activatable" (click)="seeDetail(list)">
                <ion-ripple-effect></ion-ripple-effect>
                <span>
                  <ion-icon name="ios-chatbubbles"></ion-icon>
                  {{ list.comments_count }} Komentar
                </span>
              </ion-col>
              <ion-col class="ion-text-center ion-activatable" (click)="addVote(list)">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-text [color]="voteColor(list['is_like'])">
                  <ion-icon name="ios-thumbs-up"></ion-icon>
                  {{ list.likes_count }} Dukungan
                </ion-text>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ion-list>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="nextPage($event)">
        <ion-infinite-scroll-content loadingSpinner="circular" loadingText="Loading..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-col>
  </ion-row>

</ion-content>
