<ion-header>
  <ion-toolbar>
    <ion-title>Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let p of project">
        <ion-card>
          <ion-card-content>
            <ion-item no-padding>
              <ion-row>
                <ion-title>
                  {{p.nama}}
                </ion-title>
              </ion-row>
            </ion-item>
    
            <ion-row>
              <ion-col size="6">
                Jumlah Pengaduan
              </ion-col>
              <ion-col size="1">
                :
              </ion-col>
              <ion-col size="5">
                {{p.jumlah_pengaduan}}
              </ion-col>
            </ion-row>
    
            <ion-row>
              <ion-col size="6">
                Tanggal Mulai
              </ion-col>
              <ion-col size="1">
                :
              </ion-col>
              <ion-col size="5">
                {{p.start_date}}
              </ion-col>
            </ion-row>
    
            <ion-row>
              <ion-col size="6">
                Tanggal Berakhir
              </ion-col>
              <ion-col size="1">
                :
              </ion-col>
              <ion-col size="5">
                {{p.end_date}}
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-card-content no-padding>
            <ion-button color="secondary" class="ion-float-right ion-margin" (click)="detailProject(p.id)">
              <ion-icon name="eye"></ion-icon>
              Detail
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-list>
</ion-content>
