<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-s="10" size-md="6" size-xl="4">

      <ion-button class="ion-no-padding btn-back" shape="round" fill="clear" color="light" (click)="goTo('login')">
        <ion-icon name="arrow-round-back" slot="icon-only" color="light"></ion-icon> 
        <ion-text color="light" class="lato-bold">Kembali</ion-text>
      </ion-button>

      <ion-card class="ion-padding">
        <ion-card-content>
          <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">

            <ion-item class="ion-no-padding">
              <ion-input placeholder="Nama Lengkap" type="text" id="name" name="name" formControlName="name" required>
              </ion-input>
            </ion-item>
            <div class="ion-margin-top" *ngIf="registerForm.get('name').touched && registerForm.get('name').hasError('required')">
              <ion-label>
                <ion-icon name="warning" color="warning"></ion-icon>
                <ion-text class="ion-margin">Nama Tidak Boleh Kosong</ion-text>
              </ion-label>
            </div>
            <ion-item class="ion-no-padding">
              <ion-input placeholder="Email" type="email" id="email" name="email" formControlName="email" required>
              </ion-input>
            </ion-item>
            <div class="ion-margin-top" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
              <ion-label>
                <ion-icon name="warning" color="warning"></ion-icon>
                <ion-text class="ion-margin">Email Tidak Boleh Kosong !</ion-text>
              </ion-label>
            </div>
  
            <div class="ion-margin-top" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('pattern')">
              <ion-label>
                <ion-icon name="warning" color="warning"></ion-icon>
                <ion-text class="ion-margin">Format Email Tidak Sesuai !</ion-text>
              </ion-label>
            </div>
  
            <ion-item class="ion-no-padding">
              <ion-input placeholder="Nomor Telepon" type="tel" id="no_telp" name="no_telp" formControlName="no_telp"
                required></ion-input>
            </ion-item>
            <div class="ion-margin-top" *ngIf="registerForm.get('no_telp').touched && registerForm.get('no_telp').hasError('required')">
              <ion-label>
                <ion-icon name="warning" color="warning"></ion-icon>
                <ion-text class="ion-margin">Nomor Telepon Tidak Boleh Kosong!</ion-text>
              </ion-label>
            </div>
  
            <ion-item class="ion-no-padding">
              <ion-input placeholder="Password" [type]="password_type" id="password" name="password"
                formControlName="password" required></ion-input>
              <ion-icon name="eye" (click)="showPassword()" *ngIf="hide_password"></ion-icon>
              <ion-icon name="eye-off" (click)="hidePassword()" *ngIf="!hide_password"></ion-icon>
            </ion-item>
            <div class="ion-margin-top" *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')">
              <ion-label>
                <ion-icon name="warning" color="warning"></ion-icon>
                <ion-text class="ion-margin">Password harus diisi !</ion-text>
              </ion-label>
            </div>
  
            <div class="ion-margin-top" *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('minlength')">
              <ion-label>
                <ion-icon name="warning" color="warning"></ion-icon>
                <ion-text class="ion-margin">Password Min 8 Karakter !</ion-text>
              </ion-label>
            </div>
  
            <ion-item class="ion-no-padding">
              <ion-input placeholder="Ulangi Password" [type]="c_password_type" id="c_password" name="c_password"
                formControlName="c_password" required></ion-input>
              <ion-icon name="eye" (click)="showCPassword()" *ngIf="hide_c_password"></ion-icon>
              <ion-icon name="eye-off" (click)="hideCPassword()" *ngIf="!hide_c_password"></ion-icon>
            </ion-item>
  
            <div class="ion-margin-top" *ngIf="registerForm.get('c_password').touched && this.registerForm.get('c_password').hasError('matchPassword')">
              <ion-label>
                <ion-icon name="warning" color="warning"></ion-icon>
                <ion-text class="ion-margin">Tidak Sesuai !</ion-text>
              </ion-label>
            </div>
  
            <ion-button class="mt20" color="danger" shape="round" expand="block" type="submit" [disabled]="!registerForm.valid">Daftar</ion-button>
  
          </form>

          <div class="other-login-option mt20 lato-bold">
            <ion-text>Daftar dengan : </ion-text>
            <ion-button color="primary" shape="round" (click)="fbLogin()"><ion-icon name="logo-facebook"></ion-icon></ion-button>
          </div>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-content>