<ion-header>
  <ion-toolbar *ngIf="search.active==0">
    <ion-title>SIDUMAS</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toogleSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-chip (click)="presentAlertConfirm()" *ngIf="user.tipe == 1">
        <ion-icon name="log-out" color="light"></ion-icon>
        <ion-label>Keluar</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="search.active==1">
    <ion-searchbar (ionInput)="writeSearch($event)" (search)="searchPengaduan($event)"
      placeholder="Pencarian, maks. 30 karakter"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="toogleSearch()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row class="ion-justify-content-center">

    <ion-col class="no-padding-bottom" size="12" size-md="6" size-xl="6">
      <ion-segment class="category-segment" scrollable color="danger" (ionChange)="segmentChanged($event)">
        <ion-segment-button [checked]="category==''" value="">
          <ion-label>Semua</ion-label>
        </ion-segment-button>
        <ion-segment-button *ngFor="let category of categories" [checked]="category==category.kategori_id"
          value="{{category.kategori_id}}">
          <ion-label>{{category.name}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>

    <ion-col class="no-padding-bottom" size="12" size-md="6" size-xl="6" *ngIf="lists.length == 0"
      class="no-padding-top" size="12" size-md="6" size-xl="6">
      <div class="no-data">
        <ion-icon name="notifications-outline"></ion-icon>
        Pengaduan belum tersedia
      </div>
    </ion-col>

    <ion-col *ngIf="lists.length > 0" class="no-padding-top" size="12" size-md="6" size-xl="6">
      <ion-list *ngFor="let list of lists">
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-card-subtitle class="category">#{{ list['kategori_name'] }}</ion-card-subtitle>
              </ion-col>
              <ion-col class="ion-no-padding">
                <ion-card-subtitle class="ion-text-right">
                  <ion-chip [style.background]="list['color']">{{ list['status_pengaduan'] }}</ion-chip>
                </ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content (click)="seeDetail(list.id)">
            <ion-item class="ion-no-padding">
              <div class="user-avatar">
                <ion-avatar item-left>
                  <img *ngIf="list['avatar'] != null" [src]="list['avatar']" />
                  <img *ngIf="list['avatar'] == null" src="assets/icon/favicon.png" />
                </ion-avatar>
                <div class="user-name">
                  <h3>{{ list['pelapor'] }}</h3>
                  <ion-label>{{ converTime(list.tanggal) }}</ion-label>
                </div>
              </div>
            </ion-item>

            <ion-card-title class="ion-margin-top">{{ list['topik'] }}</ion-card-title>

            <div class="uraian">
              <ion-row>
                <ion-col class="ion-text-wrap ion-no-padding">
                  <p>{{ list['uraian'] | slice:0:180 }} ...</p>
                </ion-col>
                <ion-col *ngIf="list['file']" size="4">
                  <img [src]="list['file']['fullpath']" />
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
          <div class="button-group">
            <ion-row>
              <ion-col class="ion-text-center ion-activatable" (click)="seeDetail(list.id)">
                <ion-ripple-effect></ion-ripple-effect>
                <span>
                  <ion-icon name="swap"></ion-icon>
                  {{ list['tanggapans']['length'] }} Tindak Lanjut
                </span>
              </ion-col>
              <ion-col class="ion-text-center ion-activatable" (click)="seeDetail(list.id)">
                <ion-ripple-effect></ion-ripple-effect>
                <span>
                  <ion-icon name="chatbubbles"></ion-icon>
                  {{ list['comments']['length'] }} Komentar
                </span>
              </ion-col>
              <ion-col class="ion-text-center ion-activatable" (click)="addVote(list.id)">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-text color="">
                  <ion-icon name="thumbs-up"></ion-icon>
                  {{ list['likes']['length'] }} Dukungan
                </ion-text>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ion-list>

      <div *ngIf="!lists">
        <ion-list *ngFor="let i of [1,2,3]">
          <ion-card>
            <ion-card-header>
              <ion-row>
                <ion-col class="ion-no-padding">
                  <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                </ion-col>
                <ion-col class="ion-no-padding">
                  <ion-card-subtitle class="ion-text-right">
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                  </ion-card-subtitle>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                  <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  </h3>
                  <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  </p>
                </ion-label>
              </ion-item>

              <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>

              <div class="uraian">
                <ion-row>
                  <ion-col class="ion-no-padding" class="ion-text-wrap">
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card-content>
            <div class="button-group">
              <ion-row>
                <ion-col class="ion-text-center ion-activatable">
                  <ion-ripple-effect></ion-ripple-effect>
                  <span>
                    <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                  </span>
                </ion-col>
                <ion-col class="ion-text-center ion-activatable">
                  <ion-ripple-effect></ion-ripple-effect>
                  <span>
                    <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                  </span>
                </ion-col>
                <ion-col class="ion-text-center ion-activatable">
                  <ion-ripple-effect></ion-ripple-effect>
                  <span>
                    <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                  </span>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-list>
      </div>
    </ion-col>

  </ion-row>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>