.category {
    margin-top: 12px;
}

.user-avatar {
    display: flex;

    ion-avatar {
        height: 48px;
        width: 48px;
        margin-bottom: 20px;
    }

    .user-name {
        margin-left: 8px;

        h3 {
            font-size: 1rem;
            font-weight: bolder;
        }
    }
}

ion-card-title {
    font-size: 1rem;
    margin-bottom: 10px;
}

.button-group {
    margin-left: 14px;
    margin-right: 14px;
    font-size: 0.8rem;
    margin: 14px 0 14px 5px;
}

ion-chip {
    color: #ffffff;
}

ion-segment{
  padding-top: 10px;
}
ion-segment-button{
  --padding-start: 15px;
  --padding-end: 15px;
  --indicator-color-checked: rgba(0,0,0,0) !important;
  border: 1px solid #eee;
  border-radius: 100px;
  margin-right: 2px;
  margin-left: 2px;
  min-height: 0;
  line-height: normal;
}
ion-segment-button.segment-button-checked{
  border-color: var(--ion-color-danger, #f04141) !important;
}
ion-label{
  margin-top: 7px !important;
  margin-bottom: 7px !important;
}
.no-padding-top{
  padding-top: 0 !important;
}
.no-padding-bottom{
  padding-bottom: 0 !important;
}
.no-data{
  text-align: center;
  color: rgba(0,0,0,0.3);
  font-size: 18px;
  padding: 40px 15px 15px;
}

ion-refresher{
  z-index: 10;
}