<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Pengaduan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <ion-row class="ion-justify-content-center ion-padding">
    <ion-col size="12" size-md="6" size-xl="6" class="ion-no-padding">

      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Kategori</ion-label>
        <ion-select [(ngModel)]="detail.kategori_id">
          <ion-select-option *ngFor="let cat of categories" value="{{ cat.id }}" [selected]="detail.kategori_id == cat.id">{{ cat.kategori_name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Topik Pengaduan</ion-label>
        <ion-textarea [(ngModel)]="detail.topik"></ion-textarea>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Uraian Pengaduan</ion-label>
        <ion-textarea [(ngModel)]="detail.uraian" auto-grow></ion-textarea>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label>Rahasiakan Identitas</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="detail.hide_id"></ion-checkbox>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label>Rahasiakan Identitas</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="detail.hide_pgn"></ion-checkbox>
      </ion-item>


      <ion-row class="ion-align-items-center ion-no-padding">
        <ion-col size="9">
          <ion-item class="ion-no-padding">
            <ion-label position="stacked">Lokasi</ion-label>
            <ion-textarea [(ngModel)]="detail.alamat" auto-grow></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-chip class="ion-text-center"><ion-icon name="pin" color="danger"></ion-icon><ion-label>Ubah Lokasi</ion-label></ion-chip>
        </ion-col>
      </ion-row>

      <ion-grid *ngIf="files" class="ion-no-padding">
        <ion-row>
          <ion-col size="4" *ngFor="let file of files">
            <ion-card class="block">
              <ion-icon name="close-circle" class="deleteIcon" (click)="deleteFiles(file.id, detail.id)"></ion-icon>
              <img [src]="file.fullpath"/>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-col>
  </ion-row>

</ion-content>
<ion-footer>
  <ion-button expand="block" color="danger" size="medium" (click)="save()">Simpan</ion-button>
</ion-footer>