.category-wrapper{
    ion-img{
        height: 60px;
        width: auto;
        margin : 8px;
        padding : 5px;
    }
}

.divider-top{
    background-color: #EEEEEE;
    height: 10px;
}

.btn-cat{    
    margin: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.frame-btn{
    padding-top: 5px;
}
