<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-s="10" size-md="6" size-xl="4">
      <div class="logo">
        <img src="assets/images/logo-circle.png"/>
      </div>

      <ion-card class="ion-padding">
        <ion-card-header>
          <ion-card-title class="ion-text-center">
            Login
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">

            <ion-item class="ion-no-padding">
              <ion-input placeholder="Email" type="email" id="email" name="email" formControlName="email" required>
              </ion-input>
            </ion-item>
            <div class="error mt10" *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">
              <ion-label color="dark">
                <ion-icon name="warning" color="warning"></ion-icon>
                <ion-text class="ion-margin">Email Tidak Boleh Kosong !</ion-text>
              </ion-label>
            </div>
  
            <ion-item class="ion-no-padding">
              <ion-input placeholder="Password" type="{{ password_type }}" id="password" name="password"
                formControlName="password" required></ion-input>
              <ion-icon name="eye" (click)="showPassword()" *ngIf="hide_password"></ion-icon>
              <ion-icon name="eye-off" (click)="hidePassword()" *ngIf="!hide_password"></ion-icon>
            </ion-item>
            <div class="error mt10" *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
              <ion-label color="dark">
                <ion-icon name="warning" color="warning"></ion-icon>
                <ion-text class="ion-margin">Password Tidak Boleh Kosong !</ion-text>
              </ion-label>
            </div>
  
            <div class="ion-text-right forgot-password"><span (click)="forgotPass()">Lupa Password ?</span></div>
  
            <ion-button expand="block" size="medium" color="danger" shape="round" class="btn-login" type="submit"
              [disabled]="!loginForm.valid"> Masuk </ion-button>
  
          </form>
          <div class="ion-text-center mt10 lato-bold">
            <ion-text>Belum memiliki akun ? <a (click)="goTo('register')">Daftar</a> </ion-text>
          </div>

          <div class="other-login-option mt20 lato-bold">
            <ion-text>Login dengan : </ion-text>
            <ion-button color="primary" shape="round" (click)="fbLogin()"><ion-icon name="logo-facebook"></ion-icon></ion-button>
          </div>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>