<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="6" size-xl="6">

      <form [formGroup]="updateForm" (ngSubmit)="update(updateForm)">
        <ion-item no-padding>
          <ion-input placeholder="Kata Sandi Lama" type="password" id="old_password" name="old_password"
            formControlName="old_password" required></ion-input>
        </ion-item>
        <ion-item no-padding>
          <ion-input placeholder="Kata Sandi" type="password" id="new_password" name="new_password"
            formControlName="new_password" required></ion-input>
        </ion-item>
        <ion-item no-padding>
          <ion-input placeholder="Konfirmasi Kata Sandi" type="password" id="c_new_password" name="c_new_password"
            formControlName="c_new_password" required></ion-input>
        </ion-item>
        <ion-button expand="block" fill="outline" shape="round" type="submit" [disabled]="!updateForm.valid"
          color="danger" class="ion-margin-top"> Simpan</ion-button>
      </form>
      
    </ion-col>
  </ion-row>
</ion-content>
